label {
  display: block;
}

.row-commented {
  background-color: #86caa5;
}

.shortcut-icon {
  font-size: 1.3em;
  margin-right: 8px;
}

.dialog-title {
  font-size: 1.3em !important;
}

.dialog-button {
  font-size: 0.8em !important;
}

.MuiRating-root label {
  font-size: 1.5em;
  color: rgb(250, 175, 0);
}

.MuiTypography-root legend {
  font-size: 1em;
}

.MuiRating-root .MuiRating-icon {
  font-size: 1.3em;
  color: rgb(250, 175, 0);
}

.MuiFormControl-root label {
  font-size: 1em;
}

.MuiInputBase-root textarea {
  font-size: 1.5em;
}

.MuiInputBase-root fieldset legend {
  font-size: 1.2em;
}

button.MuiButton-root {
  font-size: 0.8em;
}

.MuiBadge-badge {
  font-size: 0.85em !important;
}
